<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.studentmanager.mapper.MeritMapper">

    <resultMap type="com.liu.studentmanager.domain.Merit" id="MeritInfo">
        <result column="id" property="id"/>
        <result column="student_id" property="studentId"/>
        <result column="merit" property="smerit"/>
        <result column="merit_yes" property="smerity"/>
        <result column="demerit" property="sdeMerit"/>
        <result column="merit_no" property="sdeMeritn"/>
    </resultMap>

    <select id="queryList" resultMap="MeritInfo" >
        <!-- 根据条件查询所有信息 -->
        SELECT * from s_merit_demerit
        <where>
            <if test="studentId!=null"> and student_id LIKE concat("%",#{studentId},"%") </if>
        </where>
        limit #{startIndex},#{pagesize}
    </select>

    <select id="queryCount" resultType="int" >
        select count(*) from s_merit_demerit
        <where>
            <if test="name!=null"> and name LIKE concat("%",#{name},"%") </if>
            <if test="studentId!=null"> and student_id LIKE concat("%",#{studentId},"%") </if>
        </where>
    </select>

    <insert id="addMerit" parameterType="Merit">
        insert into s_merit_demerit(student_id,merit,merit_no,merit_yes,demerit)
        values(#{studentId},#{smerit},#{sdeMeritn},#{smerity},#{sdeMerit})
    </insert>

    <delete id="deleteMerit" parameterType="java.util.ArrayList">
        delete from s_merit_demerit
        <where>
            id in
            <foreach collection="list" open="(" close=")" separator="," item="id">
                #{id}
            </foreach>
        </where>
    </delete>

    <update id="editMerit" parameterType="Merit">
        update s_merit_demerit set student_id = #{studentId},merit=#{smerit},demerit=#{sdeMerit},merit_yes=#{smerity},merit_no=#{sdeMeritn} where id = #{id}
    </update>

    <select id="getMeritById" parameterType="java.util.List" resultMap="MeritInfo">
        select *
        from s_merit_demerit
        <where>
            id in
            <foreach collection="list" open="(" close=")" separator="," item="id">
                #{id}
            </foreach>
        </where>
    </select>
</mapper>